# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo

# Virtual environments
env/
venv/
textutilvenv/
apnidukaanvenv/
ENV/
*.env

# Django
*.log
*.pot
*.sqlite3
db.sqlite3
media/
static/
staticfiles/

# Ignore migrations except __init__.py
**/migrations/
!*/migrations/__init__.py

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node (in case you add React frontend later)
node_modules/
build/
dist/

# Uploaded product images (already covered by media/, but fine to keep)
apnidukaan/product_images/
